body {
    margin: 0;
}

.home-background {
    background-color: #1b1b1b;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

a {
    text-decoration: none;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
    height: 50px;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

.white-text {
    color: white;
}

.nav ul li a {
    font-family: 'Inter', sans-serif;
    user-select: none;
}

.logo h2 {
    margin-top: 6.5px;
    margin-left: 18px;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

.nav ul {
    margin-top: 6px;
    margin-right: 9px;
    user-select: none;
    padding: 0;
}

.banner-image {
    display: flex;
    flex-wrap: nowrap;
}

.banner-image img {
    width: 35%;
    margin-left: 35vw;
    height: auto;
    filter: grayscale();
}

.banner-image img:hover {
  filter: none;
}

img {
  max-width: 100%;
  user-select: none;
}

.banner-wrapper {
    font-family: 'Inter', sans-serif;
    font-size: 10vw;
    font-weight: 900;
    position: relative;
    margin-top: 4vw;
}

.banner-title {
    width: 100%;
    position: absolute;
    top: 23vw;
    height: 21vw;
    user-select: none;
}

.banner-title-text:first-child {
    position: absolute;
    left: 10vw;
    transition: all 50ms;
}

.banner-title-text:last-child {
    position: absolute;
    left: 37.5vw;
    top: 9vw;
    transition: all 50ms;
}

.darkgrey-text {
    color: darkgrey;
}

.banner-caption {
    width: 80vw;
    font-size: 2vw;
    font-weight: 100;
    top: 63vw;
    left: 10vw;
    position: absolute;
    user-select: none;
}

.banner-title:hover .banner-title-text:first-child {
    left: 14.5vw;
    font-style: italic;
}

.banner-title:hover .banner-title-text:last-child {
    left: 23.5vw;
    font-style: italic;
}

.main-content-wrapper {
    height: 34.5vw;
}

.row {
    display: flex;
    justify-content: space-between;
}

.main-content-block {
    width: 25vw;
    height: 25vw;
    background-color: rgba(38,38,38,1);
    user-select: none;
    transition: all 750ms;
}

.dimgrey-text {
    color: dimgrey;
}

.main-content-block h2 {
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 2vw;
    text-align: center;
    position: relative;
    top: 11.5vw;
}

.main-content {
    position: absolute;
    top: 90vw;
    left: 10vw;
    width: 80%;
    z-index: 1;
}

.main-content-block:hover {
    background-color: rgba(43,43,43,0.5);
}

.main-content-block:hover .h2 {
    color: darkgrey !important;
}

.base-layer {
    z-index: 0;
    top: 91.67vw
}

.main-content-block.only-image:first-child {
    background-image: url(images/about-thumbnail.jpg);
    background-size: cover;
    filter: grayscale(1);
}

.main-content-block.only-image:nth-child(2) {
    background-image: url(images/resume-thumbnail.jpg);
    background-size: cover;
    filter: grayscale(1);
}

.main-content-block.only-image:last-child {
    background-image: url(images/contact-thumbnail.jpg);
    background-size: cover;
    filter: grayscale(1);
}

@media (max-width: 540px) {
    .logo h2 {
        font-size: 19px;
        margin-bottom: -2vw;
        margin-left: 9px;
    }

    .nav {
        width: 100%;
    }

    .nav ul {
        overflow: auto;
        margin: 0;
        padding: 0;
    }

    .nav ul li {
        font-size: 10.5px;
        margin: 2vw 0 0 8px;
    }

    .row {
        flex-direction: column;
    }

    .main-content-block.only-image:first-child {
        margin-top: 1.659vw;
    }

    .main-content-block.only-image:nth-child(2) {
        margin-top: 3.318vw;
    }

    .main-content-block.only-image:last-child {
        margin-top: 3.318vw;
    }

    .main-content-block {
        width: 50vw;
        height: 50vw;
        margin-left: 14vw;
    }

    .main-content-block h2 {
        font-size: 4vw;
        top: 23vw;
    }

    .main-content-wrapper {
        height: 165vw;
    }
}

@media (max-width: 400px) {
    .banner-image {
        margin: 2vw 0vw 0vw 20vw;
        width: 100%;
    }

    .banner-title {
        margin-left: -4vw;
    }

    .banner-caption {
        width: 21vw;
        text-align: justify;
        top: 46vw;
        left: 34vw;
        font-size: 9.5px;
    }
}

.grey-text {
    color: grey;
}

.footer-wrapper {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 1.5vw;
    user-select: none;
    position: relative;
}

footer {
    height: 10px;
    position: absolute;
    width: 100%;
}

.credit {
    position: relative;
    top: -1vw;
}

.white-background {
    background-color: white;
}

.black-text {
    color: black;
}

.profile-wrapper {
    width: 100%;
    height: 37.5vw;
    position: relative;
    top: 50px;
    background-image: url(images/profile-cover.jpg);
    background-size: cover;
}

.bio {
    width: 40vw;
    height: 25vw;
    position: absolute;
    top: 60%;
    left: 30%;
    background-color: rgba(255,255,255,0.975);
    z-index: 1;
}

.gallery {
    width: 92.5%;
    height: 90vw;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4 ,1fr);
    grid-gap: 0.25vw;
    left: 3.75%;
}

.avatar {
    position: absolute;
    width: 7.5vw;
    height: 7.5vw;
    background-image: url(images/avatar.jpg);
    background-size: contain;
    border-radius: 50%;
    top: 2.25vw;
    left: 2.5vw;
    filter: hue-rotate(45deg);
}

.profile {
    height: 60vw;
}

.avatar-title {
    font-family: 'Inter';
    font-weight: 500;
    position: absolute;
}

.name {
    top: 2.5vw;
    left: 11vw;
    word-spacing: -0.65vw;
    font-size: 3vw;
}

.job {
    top: 6vw;
    font-size: 2.5vw;
    left: 11vw;
    word-spacing: 0.25;
    color: #855528;
}

.info {
    top: 11vw;
    left: 3.5vw;
    font-size: 2vw;
    text-align: center;
    line-height: 1.5vw;
}

.img1 {
    grid-column: 1 / 3;
    background-image: url(images/img1.jpg);
    background-size: cover;
}

.img2 {
    grid-column: 3 / 5;
    grid-row: 1 / 3;
    background-image: url(images/img2.jpg);
    background-size: cover;
}

.img3 {
    grid-column: 5 / 7;
    background-image: url(images/img3.jpg);
    background-size: cover;
}

.img4 {
    background-image: url(images/img4.jpg);
    background-size: cover;
}

.img5 {
    background-image: url(images/img5.jpg);
    background-size: cover;
}

.img6 {
    grid-column: 5 / 7;
    background-image: url(images/img6.jpg);
    background-size: cover;
}

.img7 {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
    background-image: url(images/img7.jpg);
    background-size: cover;
}

.img8 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
    background-image: url(images/img8.jpg);
    background-size: cover;
}

.img9 {
    grid-column: 5 / 7;
    background-image: url(images/img9.jpg);
    background-size: cover;
}

.img10 {
    background-image: url(images/img10.jpg);
    background-size: cover;
}

.img11 {
    background-image: url(images/img11.jpg);
    background-size: cover;
}

.gallery-container {
    height: 95vw;
}
