body {
    margin: 0;
    background-color: #1b1b1b;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
}

a {
    text-decoration: none;
}

.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    position: relative;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

.nav ul li a {
    color: white;
    font-family: 'Inter', sans-serif;
    user-select: none;
}

.logo h2 {
    margin-top: 0.5vw;
    margin-left: 1.5vw;
    font-family: 'Inter', sans-serif;
    color: white;
    user-select: none;
}

.nav ul {
    margin-top: 0.75vw;
    margin-right: 1.5vw;
    user-select: none;
}

.banner-image {
    display: flex;
    flex-wrap: nowrap;
}

.banner-image img {
    width: 35%;
    margin-left: 35vw;
    height: auto;
    filter: grayscale();
}

.banner-image img:hover {
  filter: none;
}

img {
  max-width: 100%;
  user-select: none;
}

.banner-wrapper {
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 10vw;
    font-weight: 900;
    position: relative;
    margin-top: 4vw;
}

.banner-title {
    width: 100%;
    position: absolute;
    top: 23vw;
    height: 21vw;
    user-select: none;
}

.banner-title-text:first-child {
    position: absolute;
    left: 10vw;
    transition: all 50ms;
}

.banner-title-text:last-child {
    position: absolute;
    left: 37.5vw;
    top: 9vw;
    transition: all 50ms;
}

.banner-caption {
    width: 80vw;
    font-size: 2vw;
    font-weight: 100;
    top: 63vw;
    left: 10vw;
    position: absolute;
    user-select: none;
    color: darkgrey;
}

.banner-title:hover .banner-title-text:first-child {
    left: 14.5vw;
    font-style: italic;
}

.banner-title:hover .banner-title-text:last-child {
    left: 23.5vw;
    font-style: italic;
}

.main-content-wrapper {
    height: 34.5vw;
}

.row {
    display: flex;
    justify-content: space-between;
}

.main-content-block {
    width: 25vw;
    height: 25vw;
    background-color: rgba(38,38,38,1);
    user-select: none;
    transition: all 750ms;
}

.main-content-block h2 {
    color: dimgrey;
    font-family: 'Inter', sans-serif;
    font-weight: 100;
    font-size: 2vw;
    text-align: center;
    position: relative;
    top: 11.5vw;
}

.main-content {
    position: absolute;
    top: 90vw;
    left: 10vw;
    width: 80%;
    z-index: 1;
}

.main-content-block:hover {
    background-color: rgba(43,43,43,0.5);
}

.main-content-block:hover .h2 {
    color: darkgrey;
}

.base-layer {
    z-index: 0;
    top: 91.67vw
}

.main-content-block.only-image:first-child {
    background-image: url(images/about-thumbnail.jpg);
    background-size: cover;
    filter: grayscale(1);
}

.main-content-block.only-image:nth-child(2) {
    background-image: url(images/resume-thumbnail.jpg);
    background-size: cover;
    filter: grayscale(1);
}

.main-content-block.only-image:last-child {
    background-image: url(images/contact-thumbnail.jpg);
    background-size: cover;
    filter: grayscale(1);
}

@media (max-width: 540px) {
    .logo h2 {
        font-size: 19px;
        margin-bottom: -2vw;
    }

    .nav {
        width: 100%;
    }

    .nav ul {
        overflow: auto;
        margin: 0;
        padding: 0;
    }

    .nav ul li {
        font-size: 10.5px;
        margin: 2vw 0 0 1.5vw;
    }

    .row {
        flex-direction: column;
    }

    .main-content-block.only-image:first-child {
        margin-top: 1.659vw;
    }

    .main-content-block.only-image:nth-child(2) {
        margin-top: 3.318vw;
    }

    .main-content-block.only-image:last-child {
        margin-top: 3.318vw;
    }

    .main-content-block {
        width: 50vw;
        height: 50vw;
        margin-left: 14vw;
    }

    .main-content-block h2 {
        font-size: 4vw;
        top: 23vw;
    }
}

@media (max-width: 400px) {
    .banner-image {
        margin: 2vw 0vw 0vw 20vw;
        width: 100%;
    }

    .banner-title {
        margin-left: -4vw;
    }

    .banner-caption {
        width: 21vw;
        text-align: justify;
        top: 46vw;
        left: 34vw;
        font-size: 9.5px;
    }
}

.footer-wrapper {
    font-family: 'Inter', sans-serif;
    color: grey;
    text-align: center;
    font-size: 1.5vw;
}

footer {
    height: 2.5vw;
    margin: 1vw;
}
